* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}

h1 {
  margin: 0;
  font-size: 16px;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

.canvas-container {
  display: inline-block;
  position: relative;
}

#overlappingDiv {
  position: absolute;
  background-color: blueviolet;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

/* Health Bars */
#draggleHealthBar,
#embyHealthBar {
  background-color: white;
  width: 250px;
  position: absolute;
  border: 4px solid black;
  padding: 12px;
}

#draggleHealthBar {
  top: 50px;
  left: 50px;
}

#embyHealthBar {
  top: 330px;
  right: 50px;
}

.health-bar {
  position: relative;
  margin-top: 10px;
}

.bar-bg {
  height: 5px;
  background-color: #ccc;
}

.bar-fill {
  height: 5px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Attack Bar */
#AttackBar {
  background-color: white;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px solid black;
  display: flex;
}

#attackButtons {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#attackType {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 4px solid black;
}
